<div data-role="header" data-position="fixed">
    <div class="content_header">
        <h3>登录</h3>
    </div>
</div>
<div data-role="content" style="padding: 0">
    <div data-role="fieldcontain">
        <div style="color: red; padding: 0 0 5px 0; text-align:center" id="message"></div>
        <label for="start_date">用户名:</label>
        <input type="text" name="userName" id="userName" value="{{userName}}" placeholder="请输入用户名">
        <label for="end_date">密码:</label>
        <input type="text" name="password" id="password" value="{{password}}" placeholder="请输入密码">
    </div>
</div>
<div data-role="footer" data-position="fixed">
    <div class="footer_btn" id="btn_login">
        登录
    </div>
</div>