*.iml
.idea/
target/
.project
.settings
.classpath
ui/node_modules
ui/src/main/webapp/js/gen
services/src/main/webapp/js/gen
services/node_modules
bus/src/main/webapp/js/gen
bus/node_modules
bus-min.css
jquery-min.css
