
    {{#if header}}
        <div data-role="header" style="font-size: large">
            <h1>{{header}}</h1>
        </div>
    {{/if}}
    <div data-role="content" style="text-align: center">
        <p>{{message}}</p>
    </div>
    <div data-role="footer">
        <h1><a href="#" style="font-size: x-large" data-rel="back">确定</a></h1>
        {{#if cancel}}
            <h1><a href="#" style="font-size: x-large" data-rel="back">取消</a></h1>
        {{/if}}
    </div>