<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>Bus-Services</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:context.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>cxf</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <init-param>
            <param-name>redirects-list</param-name>
            <param-value>/docs/.*</param-value>
        </init-param>
        <init-param>
            <param-name>redirect-attributes</param-name>
            <param-value>javax.servlet.include.request_uri</param-value>
        </init-param>
        <init-param>
            <param-name>redirect-servlet-name</param-name>
            <param-value>default</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>cxf</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>mapFileServlet</servlet-name>
        <servlet-class>com.bus.services.servlet.MapFileServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>mapFileServlet</servlet-name>
        <url-pattern>/maps/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>reserveRouteServlet</servlet-name>
        <servlet-class>com.bus.services.servlet.ReserveRouteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>reserveRouteServlet</servlet-name>
        <url-pattern>/reserve</url-pattern>
    </servlet-mapping>
</web-app>
