
.content_header{
    background-color: darkgray;
    height: 40px;
    padding-left: 10px;
    line-height: 40px;
}
.edit_button{
    background-color: green;
    float: right;
    width:80px;
    height: 40px;
    text-align: center;
}
.del_button{
    background-color: red;
    float: right;
    width:80px;
    height: 40px;
    text-align: center;
}
.text_panel{
    padding: 10px;
}
.route_date_info{
    padding-left: 10px;
    background-color: darkgray;
}
.footer_btn{
    background-color: darkgreen;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
h3{
    margin: 0;
    float: left;
}
a, a:hover{
    TEXT-DECORATION:none
}